<div class="row">
  <div id="newTaskNote" class="pb-2">
    <%= simple_form_for([noteable, note]) do |form| %>
      <%= form.input :description, as: :rich_text_area,
            wrapper: :vertical_form, label: false
         %>

      <% if noteable.kind_of? Task %>
        <%= render 'notes/mail_form_fields', task: noteable %>
      <% end %>
      <div role="toolbar" class="mt-3">
        <%= form.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
