<h1><%= t('controller.notes') %></h1>

<div id="ts_notes">
  <%= render 'index', noteable: @noteable %>
</div>
<br />

<%= back_link %>
<%= new_link [@noteable, Note],
              data: {
                controller: :modal,
                'modal-modal-id-value': 'sharedModal',
                action: 'click->modal#open',
                'turbo-frame': "modal-body"
              }
 %>

