<div data-controller="toggle" data-toggle-toggle-class="hidden" class="bg-light border rounded-top ">
  <span class="float-end clapse btn" data-action="click->toggle#toggleAll">
    <i class="clapse" data-toggle-target="content"></i>
  </span>

  <%= render TasksComponent.new(tasks: tasks, columns: columns, mode: 'cards', ability: ability) %>

</div>
