<%= simple_form_for([task, task.notes.new],
      remote: true,
      data: {
        action: "ajax:success->form#onPostSuccess ajax:error->form#onPostError"
      }
    ) do |f| %>
    <h5 class="bt mt-3"><%= t('activerecord.models.note') %></h5>

    <%= f.input :description, as: :rich_text_area,
          wrapper: :vertical_form, label: false
       %>
    <div data-form-target="errorSuccess" class="" role="alert"></div>
    <div role="toolbar" class="">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
<% end %>

