<%= content_tag :li, data: { target: 'draggable.item', url: '#' } do%>
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <%= task.subject %>
      </p>
    </div>
  </div>
<% end %>
