<%= render partial: 'tasks/modal_for_cards' %>

<div class="row">
  <div class="col-sm-4 col-lg-3 col-xl-2">
    <%= render 'tasks/filters' %>
  </div>
  <div class="col">
    <%= render 'tasks/cards', 
          columns: @columns, 
          tasks_per_column: @tasks_per_column,
          filter: nil,
          url: request.url,
          ability: @current_ability
     %>
  </div>
</div>
