<h1><%= t('controller.tasks') %></h1>

<div id="ts_tasks">
  <%= render 'index', tasks: @tasks %>
</div>

<br />

<%= back_link %>
<%= new_link([@taskable, Task],
             data: { 'turbo-frame': "modal" })
%>
