<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<h1><%= t('controller.time_accountings') %></h1>

<div id='ts_time_accountings'>
  <%= render TimeAccountings::IndexComponent.new(user: @current_user) %>
</div>

<br />

<%= back_link %>
<%= new_link TimeAccounting, 
                data: {
                  controller: :modal,
                  'modal-modal-id-value': 'sharedModal',
                  action: 'click->modal#open',
                  'turbo-frame': "modal-body"
               }

 %>
