<% if can? :navigate, :configuration %>
  <li class="nav-item dropdown <%= configuration_active_class %>">
    <a class="nav-link dropdown-toggle" href="#" id="navbarConfigurationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      <%= t('titracka.configuration') %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarConfigurationDropdown">
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            t('controller.org_units')),
          main_app.org_units_path, class: "dropdown-item" %>

      <% Titracka::CONFIGURATION_CONTROLLER.reject {|c| c == 'software'}.each do |ctrlr| %>
        <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
             t('controller.' + ctrlr)), 
             main_app.send("#{ctrlr}_path"), 
             class: 'dropdown-item' %>
      <% end %>
    </div>
  </li>
<% end %>
