<% if can? :navigate, :time_accountings %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle <%= active_class('time_accountings') %>" href="#" id="navbarTimeAccountingsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      <%= t('controller.time_accountings') %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarTimeAccountingsDropdown">
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            t('controller.time_accountings')),
          main_app.time_accountings_path, class: "dropdown-item" %>
      <% if can? :create, List %>
        <%= link_to raw('<span class="fas fa-fw fa-plus" aria-hidden="true"></span> ' +
                        t('titracka.new_time_accounting')),
              main_app.new_time_accounting_path,
                class: "dropdown-item",
                data: { controller: :modal,
                        'modal-modal-id-value': 'sharedModal',
                        action: 'click->modal#open',
                        'turbo-frame': "modal-body" }
              %>
      <% end %>

    </div>
  </li>
<% end %>

