<% if @filter_info %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <span> 
    <%= link_to("#{t('titracka.applied_filter')}:",
          url_for({
            only_path: 'false',
            controller: controller.controller_name,
            action: controller.action_name}.merge(@filter_info))
      )%>
   </span>
  <% @filter_info.map do |key,value| %>
    <%= content_tag(:span, "#{t('attributes.' + key.to_s)} = #{value}; ") %>
  <% end %>
</div>
<% end %>
