<ul class="navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarInfoLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= icon_info %>
    </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarInfoLink">
      <% if false %>
      <a class="dropdown-item" href="#" target='_blank'><i class="fas fa-fw fa-book"></i> Benutzerhandbuch</a>
      <% end %>
      <a class="dropdown-item" href="<%= main_app.root_path + 'docs/titracka/de/index.html' %>" target='blank'><i class="fas fa-fw fa-book"></i> Dokumentation</a>
      <div class="dropdown-divider"></div>
      <%= link_to raw(%Q[<i class="fas fa-fw fa-info-circle"></i> Über Titracka]), main_app.page_path('about'), class: 'dropdown-item' %>
      <%= link_to raw(%Q[<i class="fas fa-fw fa-exclamation"></i> Changelog]),  main_app.page_path('Changelog'), class: 'dropdown-item' %>

    </div>
  </li>
</ul>

