<% if can? :create, Workday %>
<ul class="navbar-nav me-auto">
  <li class="nav-item">
    <%= link_to main_app.calendar_workdays_path, 
                class:"nav-link btn btn-outline-secondary mr-1" do %>
        <i class="far fa-calendar-alt"></i>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to t('titracka.today'), main_app.by_date_path(date: Date.today.to_s), 
        id: 'today',
        class: 'nav-link btn btn-outline-secondary'%>
  </li>
</ul>
<% end %>
