<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="row">
   <div class="col-md-5 col-lg-4">
     <div class="card">
      <div class="card-header">
        <input id="jstree-search-input" class="form-control w-100"/>
      </div>
      <div class="card-body">
        <nav class="d-sm-block pl-0 py-3 sidebar" id="org_unit_tree">
          <%= arranged_tree_as_list(@org_units, sort_by: [:position],
                                                open_id: params[:clicked]) do |org_unit| %>
            <%= link_to "#{org_unit.name}",
                org_unit_tasks_path(
                  org_unit_id: org_unit.id,
                  parent: @org_unit&.id
                ),
                  remote: true,
                  data: {
                    org_unit_id: org_unit.id
                  },
                  id: dom_id(org_unit),
                  class: ("org_unit" +
                          if org_unit.id == params[:clicked].to_i
                            " jstree-clicked"
                           end.to_s)
            %>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
  <div id="dashboard-content" class="col-md-7 ml-md-auto col-lg-8">
    <%= render 'tasks/cards', columns: @columns, tasks_per_column: @tasks_per_column %>
  </div>
</div>

