<% if @current_user.present? && @current_user.authorities.present? %>
  <%= render 'dashboard' %>
<% elsif @current_user.present? %>
  <p>You are logged in, but you have not assigned authorizations. 
     Please contact your admin </p>
<% else %>
  <p>Not logged in</p>
<% end %>

