<% if @current_user.present? && can?(:read, OrgUnit) %>
  <%= render 'dashboard' %>
<% elsif @current_user.present? %>
  <p>You are logged in, but you have not assigned authorizations. 
     Please contact your admin </p>
<% else %>
  <p>Not logged in</p>
<% end %>

