<div class="text-muted">
  <%= link_to "Aufgabe ##{task.id}", task %>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<h5 class="modal-title" id="showTaskModalLabel"><%= task.subject %></h5>
