#
# copy me to deploy-config.yml and edit
#
hosts: 
  web: myserver
  app: myserver
  db: myserver
repo_url: https://github.com/swobspace/titracka.git
user: deploy
deploy_to: /var/www/apps/titracka
relative_url_root: /
ruby_path: "/opt/ruby/2.6/bin:$PATH"
