// --- bootstrap
@import "bootstrap/scss/bootstrap";

// -- FONTS
@font-face {
        font-family: 'Roboto';
        src: font-url('Roboto-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
}
@font-face {
        font-family: 'Roboto';
        src: font-url('Roboto-Italic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
}
@font-face {
        font-family: 'Roboto';
        src: font-url('Roboto-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
}
@font-face {
        font-family: 'Roboto';
        src: font-url('Roboto-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
}

body {
  padding-top: 60px;
}

// --- FOOTER
div#footer{
  font-size: 0.9em;
  color: #999;
  margin-top: 24px;
  padding-top: 4px;
  border-top: 1px solid #eee;
}

.table {
  tfoot.search {
    display: table-header-group;
    th {
      padding: 0.25rem;
      input[type="text"] {
        width: 100%;
        padding: 0.25rem;
        border-radius: 0.25rem;
        box-sizing: border-box;
        border: 1px solid #ced4da;
      }
    }
  }
}

// --- simple form bootstrap v4 error workaround
$form-feedback-invalid-color: rgb(220,53,69);

.required {
  span.select2-selection,
  textarea.required, input.required, select.required {
    background-color: #FFFAC2;
  }
}
td.mandantory {
  background-color: #FFFAC2;
}

.has-invalid {
  .invalid-feedback {
    display: block;
  }

  label {
    color: $form-feedback-invalid-color;
  }

  .form-control {
    background: rgba(orange, .2);
    border-color: $form-feedback-invalid-color;
  }
}

.btn {
  margin-bottom: .2em;
}

trix-editor.form-control {
  height: auto;
}

.subtitle {
  color: #999;
}

// - cardboard

ul.dropzone {
  // min-height: 80vh;
  min-height: 70%;
  min-height: -webkit-calc(100vh - 250px);
  min-height: -moz-calc(100vh - 250px);
  min-height: calc(100vh - 250px);
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: white;
}

.jstree-default .jstree-icon {
  width: 18px !important;
  height: 18px !important;
  vertical-align: sub;
}

a.jstree-anchor.list, a.jstree-anchor.list_decorator {
  color: #666;
}

.w-10 { width: 10%; }
.w-15 { width: 15%; }
.w-20 { width: 20%; }
.w-33 { width: 33%; }

.hidden {
  display: none !important;
}

i.clapse {
  display: inline !important;
  position: relative;
  width: 1em;
  height: 1em;
}
i.clapse:before {
  // content: "\f422";
  // content: "\f2d1";
  content: "\f077";
  // color: #bbb;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  // font-size: x-large;
  font-style: normal;
  position: absolute;
  top:-0.8em;
}
i.clapse.hidden:before {
  // content: "\f424";
  // content: "\f2d0";
  content: "\f078";
  // color: #bbb;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  //ont-size: x-large;
  font-style: normal;
  position: absolute;
  top:-0.8em;
}
.icon-color {
  // color: #992828; // hue: 0 ; saturation: 74; value: 60

  // color: #176775; // primary
  // color: #489BA8; // info

  color: #666;
  //color: #312799; // hue: 245 ; saturation: 74; value: 60
  // color: #802121; // hue: 0 ; saturation: 74; value: 50
  //color: #FF7D7D; // hue: 0 ; saturation: 51; value: 100
  // color: #CC3535; // value: 80; saturation:74; hue: 0
  // color: #CC353F; // value: 80; saturation:74; hue: 356
  // color: #CC525A; // value: 80; saturation:60; hue: 356
}

.timeline {
  .listed { color: grey; }
  .starting { color: darkgreen; }
  .active { color: green; }
  .landing { color: darkorange; }
  .overdue { color: red; }
}
