<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      /* bootstrap stuff */
      .text-muted {
          color: #6c757d!important;
      }
      .w-100 {
          width: 100%!important;
      }
      .d-flex {
      ￼    display: flex!important;
      }
      .small, small {
      ￼    font-size: 80%;
      ￼    font-weight: 400;
      }
      /* trix rich text */
      .trix-content {
        line-height: 1.5; }
        .trix-content * {
          box-sizing: border-box;
          margin: 0;
          padding: 0; }
        .trix-content h1 {
          font-size: 1.2em;
          line-height: 1.2; }
        .trix-content blockquote {
          border: 0 solid #ccc;
          border-left-width: 0.3em;
          margin-left: 0.3em;
          padding-left: 0.6em; }
        .trix-content [dir=rtl] blockquote,
        .trix-content blockquote[dir=rtl] {
          border-width: 0;
          border-right-width: 0.3em;
          margin-right: 0.3em;
          padding-right: 0.6em; }
        .trix-content li {
          margin-left: 1em; }
        .trix-content [dir=rtl] li {
          margin-right: 1em; }
        .trix-content pre {
          display: inline-block;
          width: 100%;
          vertical-align: top;
          font-family: monospace;
          font-size: 0.9em;
          padding: 0.5em;
          white-space: pre;
          background-color: #eee;
          overflow-x: auto; }
        .trix-content img {
          max-width: 100%;
          height: auto; }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
